extends layout

block content
  h1= title
  p Welcome to #{title}
  
  div#container
    div.simpleForm
      p 
        label(for="twitter_handle") Twitter handle:
        input#twitter_handle(type="text")
      p 
        label(for="movie_seen") Name a movie you've seen this year:
        input#movie_seen(type="text")
      p
        label(for="movie_rating") Rate the movie you saw:
        select#movie_rating
          each seq in [ 1, 2, 3, 4]
            option(value= seq)= seq
          option(value=5 selected) 5
      p
        button#add Submit rating
     
    div.summaryTable
      div#users
        h3 Recent users
      div#ratings
        h3 Recent movies rated

  script(src="http://ajax.useso.com/ajax/libs/jquery/1.8.0/jquery.min.js")
  script(src="http://cdn.bootcss.com/jade/1.11.0/jade.min.js")
  script(src="javascripts/pubsubz.js")
  script(src="javascripts/user.js")

